<div class="block" id="block-signin">  
	<h2>Login</h2>
  		<div class="content">	
	
		<%= devise_error_messages! %>

		<p><%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  		<div><%= f.label :email %><br />
  		<%= f.email_field :email %></div></p>

  		<p><div><%= f.label :password %><br />
  		<%= f.password_field :password %></div></p>

  		<p><% if devise_mapping.rememberable? -%>
    	<div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  		<% end -%></p>

		<div class="group navform wat-cf">
		  <button class="button" type="submit">
		    <%= image_tag("web-app-theme/key.png", :alt => "#{t("web-app-theme.Login", :default => "Login")}") %> <%= t("web-app-theme.signin", :default => "Login") %>
		  </button>

		<% end %>
		<br>
		<br>
		<p>
		<%= render :partial => "devise/shared/links" %>
		</p>
	</div>
 </div>
