<!DOCTYPE html>
<html>
<head>
  <title>Supporting those in need</title>
  <%= stylesheet_link_tag 'web_app_theme' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1><a href="/">Supporting those in need</a></h1>
      <div id="user-navigation">
        <ul class="wat-cf">

		<% if user_signed_in? %>
		  	<li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
		<% else %>
		  	<li><%= link_to('Login', new_user_session_path) %></li>
        	<li><%= link_to 'Sign up' , new_user_registration_path %></li>
		<% end %>
        	<li><a href="#"><%= t("web-app-theme.settings", :default => "Settings") %></a></li>

        </ul>
      </div>
      <div id="main-navigation">
        <ul class="wat-cf"></ul>
      </div>
    </div>    
    <div id="wrapper" class="wat-cf">
      <div class="flash">
        <% flash.each do |type, message| -%>
          <div class="message <%= type %>">
            <p><%= message %></p>
          </div>
        <% end -%>
      </div>
      <div id="main">
        <%= yield %>
        <div id="footer">
          <div class="block">
            <p>Copyright &copy; <%= Time.now.year %> Supporting those in need.</p>
          </div>      
        </div>
      </div>
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
    </div>    
  </div>
</body>
</html>
